<!DOCTYPE html>
<html>
  <head>
    <title>Balance Your Diet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="ass1.js"></script>
    <style>
      .message { font-size: 1em; font-weight: bold; }
    </style>
  </head>
<body ng-app="App" ng-controller='Control'>
  <center>
   <div class="container">
     <h1>Balance Your Diet</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" placeholder="Enter your food consumption list" class="form-control" ng-model='str'></input>
               <p> Items Selected: <span ng-bind="str"> </span></p>
         </div>




         <div class="form-group">
             <button class="btn btn-default" ng-click="message()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
           <p>  <span ng-bind="out"> </span></p>
         </div>
   </div>

</center>
</body>
</html>
